---
layout: default
---

<div class="container">
    <div class="posts">

        {% assign posts = paginator.posts %}
        {% for post in posts %}
        {% assign icon = post.categories[2] %}
        <div>
            <div class="date">
                <span>{% if site.lang == "fa" %}{{ post.date | jdate: "%e %b" }}{% else %}{{ post.date | date: "%e %b" }}{% endif %}</span>
            </div>
        </div>
        <div>
            <div class="meta-data">
                <i class="icon icon-{% if site.icons[icon] %}{{ site.icons[icon] }}{% else %}books{% endif %}"></i>
                <span class="time">{{ post.date | date : "%H:%M" }}</span>
            </div>

            <article class="post">
                <h2 class="post-title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>

                <div class="post-content">

                    {{ post.content }}

                </div>

            </article>
        </div>
        {% endfor %}

        <div>
            <ul class="pager">
                {% if paginator.previous_page %}
                <li class="previous"><a href="{{ site.baseurl }}{% if paginator.previous_page != 1 %}/page{{ paginator.previous_page }}{% endif %}" class="btn">{% t older %}</a></li>
                {% else %}
                <li class="previous disabled"><span>{% t older %}</span></li>
                {% endif %}

                {% if paginator.next_page %}
                <li class="next"><a href="{{ site.baseurl }}/page{{ paginator.next_page }}" class="btn">{% t newer %}</a></li>
                {% else %}
                <li class="next disabled"><span>{% t newer %}</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
