<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>ماژول فارسی انگولار</title>
    <meta name="description" content="Mohamad Mohebifar's Blog about Web Technologies & Scientific Softwares.
">
    

    <link rel="stylesheet" href="/fa/assets/styles/main.css">
    
    <link rel="stylesheet" href="/fa/assets/styles/main.rtl.css">
    

    <link rel="canonical" href="https://mohebifar.com/fa/angular-persian">
</head>


  <body>

    <header>
    <nav class="navbar navbar-static-top navbar-default navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/fa">محمد محبی‌فر</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    
                    
                    <li>
                        <a class="page-link" href="/fa/about/">درباره من</a>
                    </li>
                    
                    
                    
                    
                </ul>

                <ul class="nav navbar-social navbar-nav navbar-left">
                    <li>
                        <a title="Follow me on Github" href="https://github.com/mohebifar">
                            <i class="icon icon-github"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Follow me on Facebook" href="https://www.facebook.com/rafibehom">
                            <i class="icon icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Follow me on Twitter" href="https://twitter.com/mohebifar">
                            <i class="icon icon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Follow me on Stackoverflow" href="http://stackoverflow.com/users/1543737/mohebifar">
                            <i class="icon icon-stackoverflow"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Follow me on Codepen" href="http://codepen.io/mohebifar">
                            <i class="icon icon-codepen"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</header>

<div class="languages">
    <ul>
        <li><a title="English" href="/">EN</a></li>
        <li><a title="Deutsch" href="/de/">DE</a></li>
        <li><a title="فارسی" class="active" href="/fa/">FA</a></li>
    </ul>
</div>



    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="post-title single-post">
                <a href="/fa">ماژول فارسی انگولار</a>
            </h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <article class="post single-post">
            <div class="meta-data">
                منتشر شده در
                <time datetime="2014-11-02 16:00:15 +0330">11 آبان 1393</time>
                
            </div>
            <div class="post-content">
                <p>انگولار یک فریم‌ورک ام‌وی* سمت کلاینت است که به زبان جاوا اسکریپت نوشته شده است. با استفاده از این فریم‌ورک می‌توانید یک وب‌اپلیکیشن تک‌صفحه‌ای بنویسید. برای توضیحات بیشتر به وب‌سایت <a href="https://angularjs.org">angularjs.org</a> مراجعه کنید.</p>

<p>از آن‌جایی که در انگولار داده‌ها به صورت خام و معمولا به وسیله یک سرویس رست‌فول از سرور دریافت می‌شود، برای نمایش یک خروجی مناسب برای کاربران فارسی‌زبان ابزارهایی لازم هست.</p>

<p>ماژول فارسی انگولار، یک مجموعه فیلتر کاربردی جهت محلی‌سازی نرم‌فزارهای فارسی، از جمله تبدیل اعداد انگلیسی به فارسی، تبدیل اعداد به حروف، تبدیل کاراکترهای عربی به فارسی، تغییر لی‌اوت کیبورد و … در اختیار کاربران قرار می‌دهد.</p>

<p>برای نصب این ماژول ابتدا <code>bower</code> را نصب کنید سپس دستور زیر را اجرا کنید.</p>

<div class="highlight"><pre><code class="language-bash" data-lang="bash"><span class="nv">$ </span>bower install angular-persian</code></pre></div>

<p>سپس ماژول <code>ngPersian</code> را به وابستگی‌های برنامه خود اضافه کنید.</p>

<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="kd">var</span> <span class="nx">app</span> <span class="o">=</span> <span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">&#39;myApp&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;ngPersian&#39;</span><span class="p">,</span> <span class="cm">/* deps ... */</span><span class="p">]);</span></code></pre></div>

<p>حالا می‌توانید از فیلترهای این ماژول در نماهای برنامه خود استفاده کنید.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">&quot;someNumber&quot;</span><span class="nt">&gt;</span> {‌{ someNumber | pNumber }‌}
<span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">&quot;price&quot;</span><span class="nt">&gt;</span> {‌{ price | pDigitWords }‌} ریال</code></pre></div>

<p>قطعه کد بالا مقدار مدل <code>someNumber</code> را با کاراکترهای فارسی نمایش می‌دهد و مقدار مدل <code>price</code> را با حروف نمایش می‌دهد. (برای مثال: یک صد و بیست هزار ریال)</p>

<p><a href="https://github.com/mohebifar/angular-persian">برای خواندن جزئیات بشتر در مورد این ماژول، صفحه گیت‌هاب آن را دنبال کنید.</a></p>

            </div>

        </article>

        

        <section class="panel panel-default more-posts">
            <div class="panel-heading">بیشتر بخوانید</div>
            <div class="panel-body">
                
                <article class="related-post">
                    <h2 class="post-title">
                        <a href="/fa/php-jalali-extension">
                            اکستنشن هجری شمسی برای php
                        </a>
                    </h2>

                    <div class="post-content">
                        
                        کتابخانه‌های پیکربندی تاریخ بر اساس تقویم هجری شمسی همواره یکی از پرکاربردترین ابزارها نزد برنامه‌نویسان ایرانی بوده‌اند.این کتابخانه‌ها ...&hellip;
                        
                    </div>
                </article>
                

                <div class="linked-posts">
                    
                    
                    <article class="pull-left" style="width: 50%;">
                        <h2 class="post-title">
                            <a href="/fa/parsing-smiles-with-razi">
                                پردازش SMILES با رازی
                            </a>
                        </h2>
                        <span>منتشر شده در</span>
                        <time>26 بهمن 1392</time>
                    </article>
                    
                    
                    <article class="pull-right" style="width: 50%;">
                        <h2 class="post-title">
                            <a href="/fa/compression">
                                محتوای gzip در وب، مزایا و اشکال‌ها
                            </a>
                        </h2>
                        <span>منتشر شده در</span>
                        <time>05 بهمن 1392</time>
                    </article>
                    
                    
                </div>

            </div>
        </section>
        <!-- /.read-more -->
        

    </div>
</div>


    <footer>
    <div class="container text-center">
        ساخته شده با <a href="http://jekyllrb.com">جکیل</a>. طراحی شده توسط محمد محبی‌فر
    </div>
</footer>



<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42543494-2', 'auto');
    ga('send', 'pageview');

</script>

<script src="/fa/assets/scripts/main.js"></script>


  </body>

</html>
