---
layout: default
---
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="post-title single-post">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <article class="post single-post">
            <div class="meta-data">
                {% t published_on %}
                <time datetime="{{ page.date }}">{% if site.lang == "fa" %}{{ page.date | jdate: "%d %b %Y" }}{% else %}{{ page.date | date: "%B %d, %Y" }}{% endif %}</time>
                {% if page.author %}{% t by %} <a>{{ page.author }}</a>{% endif %}
            </div>
            <div class="post-content">
                {{ content }}
            </div>

        </article>

        <section class="friends"></section>

        {% if site.related_posts.size %}

        <section class="panel panel-default more-posts">
            <div class="panel-heading">{% t read_more %}</div>
            <div class="panel-body">
                {% for post in site.related_posts limit:1 %}
                <article class="related-post">
                    <h2 class="post-title">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            {{ post.title }}
                        </a>
                    </h2>

                    <div class="post-content">
                        {% if post.description %}
                        {{ post.description }}
                        {% else %}
                        {{ post.content | strip_html | strip_newlines | truncate: 140 }}&hellip;
                        {% endif %}
                    </div>
                </article>
                {% endfor %}

                <div class="linked-posts">
                    {% assign pull = 'left' %}
                    {% for post in site.related_posts limit:2 offset:1 %}
                    <article class="pull-{{ pull }}" style="width: 50%;">
                        <h2 class="post-title">
                            <a href="{{ post.url | prepend: site.baseurl }}">
                                {{ post.title }}
                            </a>
                        </h2>
                        <span>{% t published_on %}</span>
                        <time>{% if site.lang == "fa" %}{{ post.date | jdate: "%d %b %Y" }}{% else %}{{ post.date | date: "%B %d, %Y" }}{% endif %}</time>
                    </article>
                    {% assign pull = 'right' %}
                    {% endfor %}
                </div>

            </div>
        </section>
        <!-- /.read-more -->
        {% endif %}

    </div>
</div>
